/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #082033;
  color: white
}

.q-field__native.row.items-center span, .q-icon.notranslate.material-icons.q-select__dropdown-icon, a {
  color: #FF522F
}

.q-virtual-scroll__content {
  color: black
}
.q-checkbox__inner.relative-position.non-selectable.q-checkbox__inner--falsy {
  color: white
}

.q-checkbox.cursor-pointer.no-outline.row.inline.no-wrap.items-center.reverse.text-capitalize.q-ml-sm {
  position: relative;
  top: -6px;
}

table { 
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.659);
  height: 25px;
}

tr:last-child {
  border-bottom: 0;
}

th {
  text-align: left;
}

td {
  text-align: right;
}

div.q-field__native.row.items-center {
  padding: 0;
}

.container {
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* menu */
.q-drawer {
  background: #082033;
}

.q-router-link--active {
  padding-left: 30px;
  background-color: #FF522F;
  color: white !important;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  border-radius: 100%;
  width: 200px;
}

/* app global css */
.q-header {
  background-color: transparent;
  margin: 8px 16px 0;
  display: flex;
  justify-content: space-between;
  color: #FF522F
}

.q-header p {
  font-size: 20px;
  font-weight: 800;
}

a:link, a:visited {
  text-decoration: none
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lojasdeAplicativos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* media query */

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .col-12:first-child {
    padding-top: 12px;
  }

  .q-field--dense .q-field__label, p {
    font-size: 12px;
  }

  th {
    width: 60%;
    font-size: 11px;
  }

  .q-checkbox.cursor-pointer.no-outline.row.inline.no-wrap.items-center.reverse.text-capitalize.q-ml-sm {
    font-size: 13px;
    position: relative;
    top: -6px;
  }
}